@model IEnumerable<NTourism.Models.Regular.TblClient>

@{
    ViewBag.Title = "Index";
}
<h1>
    @Html.ActionLink("Add Client", "Create")
</h1>


<div class="text-center row">
    <form action="/Admin/Client/Search" method="get" class="form-group">
        <input class="inputSearch form-control" name="q" type="text" placeholder="Search.... ">
        <button><i class="fa fa-search"></i></button>
    </form>
</div>
<table class="table list-wrapper">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TellNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="list-item">
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TellNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                <a class="btn btn-danger btn-sm" onclick="editeGroup(@item.id)">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-danger btn-sm" onclick="deleteGroup(@item.id)">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
    }
</table>
<div class="pagination-container"></div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="myModalBody">

            </div>

        </div>
    </div>
</div>
<!--End Modal -->

@section scripts{
    <script src="~/Scripts/modal.js"></script>
    <script>
        function editeGroup(id) {
            window.location = '/Admin/Client/Edit/' + id;
        };
        //function deleteGroup(id) {
        //    window.location = '/Admin/Client/Delete/' + id;
        //};
        function deleteGroup(id) {
            $.get('/Admin/Client/Delete/' + id, function (result) {
                $('#myModal').modal();
                $('#myModalLabel').html('Delete');
                $('#myModalBody').html(result);
            });
        };

    </script>



}
